* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: #ECEEF1;
    align-items: center;
}

.formulaire-inscription {
    margin-top: 90px;
    width: 740px;
    background-color: #FFFFFF;
    padding-left: 64px;
    border-radius: 18px;
    font-family: system-ui, 'Segoe UI', Arial, sans-serif;
}


.creation-compte {
    margin: 40px;
    padding-left: 86px;

}

.creation-compte p {
    padding-left: 60px;
}

hr {
    width: 90%;
    margin-bottom: 40px;
    opacity: 0.3;
}

.utilisateur input {
    border-radius: 6px;
    border: solid #cecece;
}

.horizontale {
    display: flex;
    gap: 15px;
}

.horizontale input {
    width: 44%;
    height: 75px;
    outline: none;
    padding-left: 12px;
}

.verticale {
    margin-top: 40px;
}

.verticale input {
    width: 90%;
    height: 75px;
    outline: none;
    padding-left: 12px;
}

.verti {
    margin-top: 20px;
    margin-bottom: 50px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: black;

}

.date-naissance {
    margin-bottom: 30px;
}



.date-conteneur {
    display: flex;
    width: 100%;
    gap: 12px;
    padding-top: 8px;
}

.date-naissance label {
    font-size: 18px;


}

#jour {
    width: 28.8%;
    height: 73px;
    border-radius: 10px;
    border: none;
    border: solid #cecece;
}

#mois {
    width: 28.8%;
    height: 73px;
    border-radius: 10px;
    border: none;
    border: solid #cecece;
}

#annee {
    width: 28.8%;
    height: 73px;
    border-radius: 10px;
    border: none;
    border: solid #cecece;
}



.genre label {
    font-size: 18px;
}

.options-genre {
    display: flex;
    margin-bottom: 50px;
    padding-top: 6px;
    gap: 20px;
}

.options-genre label {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 190px;
    height: 70px;
    border-radius: 10px;
    padding-left: 8px;
    border: solid #cecece;

}

.paragraphe {
    font-size: 20px;
    margin-right: 44px;

}

.paragraphe a {
    color: #1877f2;
    text-decoration: none;
}

.paragraphe a:hover {
    text-decoration: underline;
}

.inscrire {
    margin-bottom: 38px;
    margin-top: 60px;
}

.inscrire button {
    width: 88%;
    height: 70px;
    border-radius: 6px;
    border: none;
    background-color: #4ABF30;

}

.inscrire button:hover {
    background-color: #36a420;

}

.ecriture {
    font-size: 24px;
}







@media (max-width: 480px) {
    .formulaire-inscription {
        width: 95%;
        padding: 20px;
    }

    .creation-compte {
        margin: 0px;
        padding-left: 50px;

    }

    .creation-compte h2 {
        font-size: 24px;
    }

    .creation-compte p {
        padding-right: 0px;
        padding-left: 0;
        padding-left: 30px;
    }

    .horizontale {
        flex-direction: column;
        margin-top: 20px;
    }

    .horizontale input {
        width: 100%;
        height: 40px;
        padding-left: 10px;
    }

    .verticale {
        flex-direction: column;
        margin-top: 20px;
    }

    .verticale input {
        width: 100%;
        height: 40px;
        padding-left: 10px;
    }

    .date-conteneur {
        flex-direction: column;
    }

    .options-genre {
        flex-direction: column;
        gap: 8px;
        width: 200px;
    }

    .options-genre label {
        height: 40px;
    }

    .inscrire button {
        width: 100%;
    }

    .date-naissance {
        margin: 0px;
        margin-right: 0px;
    }

    .date-conteneur {
        margin-bottom: 20px;
    }

    #jour {
        width: 100%;
        height: 38px;
        background-color: #ECEEF1;
    }

    #mois {
        width: 100%;
        height: 38px;
        background-color: #ECEEF1;

    }

    #annee {
        width: 100%;
        height: 38px;
        background-color: #ECEEF1;

    }

    .paragraphe {
        margin-right: 0px;
        font-size: 16px;

    }

    .inscrire {
        margin-bottom: 0px;
        margin-top: 40px;
    }

    .ecriture {
        font-size: 14px;
    }

}